



<!--code de ayoub-->



<div id="pitch-container-index" class="container-index pitch-container-index">
  <div class="card-container">
    <% @pitches.each do |stade| %>
      <div class="custom-card" data-controller="flip">
        <p class='capacity'><strong>
          <i class="fa-solid fa-person-walking fa-2xl" style="color: #63E6BE;"></i>
          </strong> <%= stade.capacity %>
        </p>
        <img src="<%= stade.img %>" alt="card" class="card-img-top">
        <div class="card-body front"  data-flip-target="front"  >
          <h3 class="card-title pitches__card__title"><%= stade.name %></h3>
          <p class="card-text"><%= stade.desc %></p>
          <!-- Surface Type -->
          <%# <p><strong><i class="fa-solid fa-water"></i></strong> <%= stade.surface_type %></p> %>
          <!-- Availability -->
          <%# <p><strong><i class="fa-solid fa-calendar-check"></i></strong> <%= stade.availability %></p> %>
          <!-- Map Link -->
          <p><a href="<%= stade.map_url %>" target="_blank">View on Map <i class="fa-solid fa-location-dot"></i></a></p>
          <a href="<%= pitch_path(stade) %>">View Details</a>
        </div>
        <div class="card-body back" data-flip-target="back">
            <div id="booking-form" data-controller="reservation" data-action="click->reservation#submit notification#show">
              <label for="date">Date:</label>
              <form action="/bookings" method="post">
                <input type="datetime-local" id="date" name="booking[date]">
                <input type="hidden" id="idstade" value="<%= stade.id %>" name="booking[stade_id]">
                <input type="submit" value="Book your spot now!" class="btn btn-primary">
              </form>
            </div>
          <a data-action="click->flip#flip" href="#">Cancel</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
