<div id="stade-show">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @pitch.img %>);">
    <h2><%= @pitch.name %></h2>
    <p class="card-text"><%= @pitch.desc %></p>
  </div>

  <div class="grid-info">
    <span class="badge rounded-pill text-bg-success"><strong></strong> <%= @pitch.price %>$</span>

    <span class="badge rounded-pill text-bg-success"><strong><i class="fas fa-bolt"></i></strong> <%= @pitch.team %></span>

    <span class="badge rounded-pill text-bg-success"><a href="<%= @pitch.map_url %>" target="_blank"><i class="fa-solid fa-location-dot"></i>View on Map </a></span>

    <span class="badge rounded-pill text-bg-success"><strong><i class="fa-solid fa-key"></i></strong> make a reservation </span>
  </div>

  <div id="booking-form" data-controller="reservation" data-action="click->reservation#submit notification#show">
    <label for="date">Date:</label>
    <form action="/bookings" method="post">
      <input type="datetime-local" id="date" name="booking[date]">
      <input type="hidden" id="idstade" value="<%= @pitch.id %>" name="booking[stade_id]">
      <input type="submit" value="Book your ticket now!" class="btn btn-primary">
    </form>

  </div>



</div>
