
<!--
      <header>
              <nav style="color:black">

                        <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
                          <div class="container-fluid">
                                <%= link_to "#", class: "navbar-brand" do %>

                                    <div class="logo__container">
                                          <%= image_tag("/images/logo4.png") %>
                                    </div>

                                 <% end %>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                              <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                      <%= link_to "Home", "/", class: "nav-link" %>
                                </li>
                                <% if user_signed_in? %>

                                  <li class="nav-item">
                                    <%= link_to "Pitches", pitches_path, class: "nav-link" %>
                                    <li class="nav-item">
                                    <%= link_to "My bookings", history_path, class: "nav-link" %>

                                    <li class="nav-item">
                                     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                                     </li>
                                  </li>


                                 <li class="nav-item dropdown">
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThhOzMlVmaGmerJG7MjWP6iu2Spi-Hwg3aow&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
                                <% else %>
                                  <li class="nav-item">
                                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                                  </li>
                                  <li class="nav-item active">
                                    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                                  </li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                        </div>
              </nav>
      </header>

      -->

    <!-- carousel -->
    <div class="carousel" data-controller="home">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316380/ciiiiiiiiiii_osnth0.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book  your ticket now </div>
                    <div class="topic">with complete security</div>
                    <div class="des">

                     Kickitnow is a website for booking tickets to watch matches and support your favorite team with all your ambition
                    </div>
                    <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389066/zattttttttttttttttttttt_ub2x1c.jpg">
                <div class="content">
                   <div class="author">Kickitnow</div>
                    <div class="title">Book  your ticket now </div>
                        <div class="topic">with complete security</div>
                        <div class="des">

                       Kickitnow is a website for booking tickets to watch matches and support your favorite team with all your ambition
                    </div>
                  <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                  </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389976/giiiixashjxbghdz_p9mej6.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book  your ticket now </div>
                    <div class="topic">with complete security</div>
                      <div class="des">

                      Kickitnow is a website for booking tickets to watch matches and support your favorite team with all your ambition
                  </div>
                    <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316784/ggggggg_puxczo.jpg">
                <div class="content">
                    <div class="author">Kickitnow</div>
                    <div class="title">Book  your ticket now </div>
                    <div class="topic">with complete security</div>
                    <div class="des">

                     Kickitnow is a website for booking tickets to watch matches and support your favorite team with all your ambition
                    </div>
                    <div class="buttons ">

                        <button><a href="">SEE MORE </a></button>
                       <button ><a href="/pitches">BOOK NOW</a></button>
                    </div>
                </div>
            </div>
       </div>


        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707316380/ciiiiiiiiiii_osnth0.jpg">
                <div class="content">
                    <div class="title">

                 </div>
                    <div class="description">
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389066/zattttttttttttttttttttt_ub2x1c.jpg">
                <div class="content">
                    <div class="title">
                    </div>
                    <div class="description">
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707389976/giiiixashjxbghdz_p9mej6.jpg">
                <div class="content">
                    <div class="title">
</div>
                    <div class="description">
                </div>
            </div>
        </div>
</div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>
</div>
<br>
<section class="about_us">
<div class="about">
<h2>Kickitnow</h2>
<p>
Welcome to KickItNow – Your Premier Destination for Online Match Ticket Bookings!
At KickItNow, we're passionate about soccer and dedicated to providing enthusiasts with a seamless and enjoyable experience when it comes to booking tickets to watch matches. Whether you're a die-hard fan eager to catch every game or someone looking forward to a thrilling match experience with friends, KickItNow is your go-to platform for hassle-free ticket booking.
</p>
</div>
<div class="image__contaire">
<img src="images/ball.jpeg" alt="rss feed" />
</div>
</section>
<section class="testimonies">
                <h2>Testimonials</h2>
                <div class="card__testimonies">
                <div class="card">
                    <div class="card__title">
                      <img src="images/test2.jpg">
                      <p>Anas</p> <p style="color:#f2b242">★★★★★</p>
                   </div>
                    <div class="card__body">
                    KickItNow has transformed the way I book soccer pitches! The platform is incredibly user-friendly, allowing me to effortlessly secure a spot for my weekly matches with friends. The diverse selection of top-notch pitches ensures that every game is unforgettable. Thank you, KickItNow, for enhancing my soccer passion and making it even more enjoyable!"
                    </div>
                </div>
                <div class="card">

                    <div class="card__title">
                      <img src="images/test1.jpg">
                      <p>Ayoub</p>  <p style="color:#f2b242">★★★</p>
                    </div>
                    <div class="card__body">
"Booking tickets for soccer matches has never been easier since I discovered KickItNow! The platform's simplicity and efficiency have streamlined the process, enabling me to secure seats for all the exciting games I want to attend. With a wide range of matches available, each experience is truly unforgettable. Thank you, KickItNow, for elevating my love for soccer to new heights!"                    </div>
                </div>
                <div class="card">
                    <div class="card__title">
                      <img src="images/test3.jpg">
                      <p>Mouad</p>  <p style="color:#f2b242">★★★★</p>
                    </div>
                    <div class="card__body">
"KickItNow has completely revolutionized my match day experience! With its user-friendly platform and seamless booking process, I can easily secure tickets for all the thrilling soccer matches I have my eye on. The variety of matches available ensures that there's always something exciting to look forward to. Thank you, KickItNow, for taking my passion for soccer to the next level!"                    </div>
                </div>
</section>
